/* start main */

.all-experience{
    background: linear-gradient(270.16deg, rgba(255, 177, 71, 0.1) 5.74%, rgba(255, 108, 99, 0.1) 50.64%, rgba(184, 106, 223, 0.1) 92.05%);


    color: rgba(255, 255, 255, 1);
    margin-top:200px;
    margin-left: 100px;
    margin-right: 100px;
  }